.container {
    height: 100%;
    padding: 4px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar_sub {
    width: 90vw;
}

.navbar_sub a {
    margin: 2px;
}

.navbar-brand {
    text-align: right;
    float: right;
}